body
  font-family: 'Dosis', sans-serif
  font-weight: 400
  line-height: 1.7

.heading-primary
  font-size: 7rem
  font-weight: 700
  color: $color-primary-light
  text-transform: uppercase
  margin-bottom: 4rem
  position: relative

  &::after
    content: ""
    position: absolute
    top: 1.5rem
    right: 0
    bottom: -1.5rem
    left: 0
    background-image: url("../img/header-background-1.png")
    background-size: 100%
    background-repeat: no-repeat
    opacity: 0.5
    z-index: -1

  &--main
    display: block
    font-size: 9rem
    letter-spacing: 5rem
    margin-left: 5rem
    margin-bottom: -4rem

  &--sub
    display: block
    font-weight: 400
    font-size: 6rem
    margin-left: 5rem
    letter-spacing: 3.5rem

.heading-secondary
  font-size: 3.5rem
  font-weight: 700
  color: rgba($color-gray-dark, .8)
  text-transform: uppercase
  margin-bottom: 10rem
  padding: 0 10rem
  background-image: url(../img/header-background.png)
  background-repeat: no-repeat
  background-position: center

.heading-tertiary
  font-size: 2rem
  font-weight: 600
  color: rgba($color-gray-dark, .85)
  text-transform: uppercase

.heading-quaternary
  font-size: 1.8rem
  font-weight: 600
  color: rgba($color-primary-light, .85)
  text-transform: uppercase

.paragraph
  font-size: $default-font-size

.date
  font-size: 1.2rem
  font-weight: 500