// COLORS

$color-primary: #EDC92F
$color-primary-light: #F6E28A
$color-primary-dark: #9A800F

$color-secondary-light: #EBF3EF
$color-secondary-dark: #77A88D

$color-teriary: #2376DD
$color-teriaty-light: #80B0EE
$color-teriary-dark: #074696

$color-white: #FFF
$color-black: #000

$color-gray-dark: #1A201D


// FONT

$default-font-size: 1.6rem

//  GRID

$grid-width: 114rem
$grid-gutter-vertical: 2.5rem
$grid-gutter-horizontal: 5rem