// COLORS

$color-primary: #EDC92F
$color-primary-light: #F6E28A
$color-primary-dark: #9A800F

$color-secondary-light: #EBF3EF
$color-secondary-dark: #77A88D

$color-white: #fff
$color-black: #000

$color-gray-dark: #1A201D

// FONT

$default-font-size: 1.6rem