.section-news
  background-image: linear-gradient(to bottom right, rgba($color-secondary-light, .4) 70%, rgba($color-secondary-dark, .4) 100%)
  padding: 10rem 2rem

.section-schedule
  background-image: linear-gradient(to bottom right, rgba($color-secondary-light, .4) 70%, rgba($color-secondary-dark, .4) 100%), url('../img/schedule-background-small.jpg')
  background-size: cover
  background-position: bottom
  padding: 10rem 2rem