.section-news
  padding: 10rem 2rem
  background-color: $color-primary-light

.section-schedule
  padding: 10rem 2rem

.section-teachers
  padding: 10rem 2rem
  background-color: $color-primary-light

.section-contact
  padding: 10rem 2rem

.contact
  
  &__form
    padding: 5rem 6rem
    background-color: $color-primary-light
    height: 100%

  &__info-box
    padding: 3rem 2rem
    text-align: left
    font-size 1.8rem

  &__icon
    display: inline-block
    width: 2.4rem
    height: 2.4rem

    &--mail
      background-image: url(../img/iconmonstr-email-11.svg)
    &--phone
      background-image: url(../img/iconmonstr-phone-9.svg)


.map-box
  overflow: hidden
  transition: all 1s ease

  &__img
    transition: all 1s ease
    
    &:hover
      transform: scale(1.5)