doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    link(href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,700" rel="stylesheet")
    link(rel="stylesheet", href="css/style.css")

    title Yoga Palace
  
  body

  .navigation
    nav.navigation__nav
      ul.navigation__list
        li.navigation__item
          a(href="#section-header").navigation__link.navigation__link--logo.smooth-scroll.active Yoga Palace
        li.navigation__item
          a(href="#section-news").navigation__link.smooth-scroll News
        li.navigation__item
          a(href="#section-schedule").navigation__link.smooth-scroll Schedule
        li.navigation__item
          a(href="#section-teachers").navigation__link.smooth-scroll Teachers
        li.navigation__item
          a(href="#section-contact").navigation__link.smooth-scroll Contact
    button.navigation__toggle-btn &nbsp;

  header.header
    section#section-header
      .header__text-background
        img(src="../img/header-background-1.png")
      .header__text-box
        h1.heading-primary
          span.heading-primary--main Yoga
          span.heading-primary--sub Palace
        a(href="#").btn.u-margin-top-small Discover yoga with us
  main
    section.section-news#section-news
      .u-center-text
        h2.heading-secondary News
      
      .row.flex-grid
        .col
          .news-box.news-box--left
            .news-box__img-box
              img(src="../img/news-01.jpg").news-box__img
              .news-box__info
                p Read more
            h3.heading-tertiary Lorem, ipsum dolor.
            p.date 01 Aug 2018
            p.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis accusantium ipsam blanditiis sequi? Libero inventore maiores nihil excepturi. Sint?
        .col
          .news-box
            .news-box__img-box
              img(src="../img/news-02.jpg").news-box__img
              .news-box__info
                p Read more
            h3.heading-tertiary Lorem ipsum dolor sit amet.
            p.date 27 Jul 2018
            p.paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit deleniti ea, asperiores beatae minus possimus alias reprehenderit qui molestias vel libero illum.
      .row.flex-grid
        .col
          .news-box.news-box--left
            .news-box__img-box
              img(src="../img/news-03.jpg").news-box__img
              .news-box__info
                p Read more
            h3.heading-tertiary Lorem, ipsum dolor.
            p.date 25 Jul 2018
            p.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis accusantium ipsam blanditiis sequi? Libero inventore maiores nihil excepturi. Sint?
        .col
          .news-box
            .news-box__img-box
              img(src="../img/news-04.jpg").news-box__img
              .news-box__info
                p Read more
            h3.heading-tertiary Lorem, ipsum dolor sit amet.
            p.date 20 Jul 2018
            p.paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit deleniti ea, asperiores beatae minus possimus alias reprehenderit qui molestias vel libero illum.
      .row.flex-grid
        .col
          .news-box.news-box--left
            .news-box__img-box
              img(src="../img/news-05.jpg").news-box__img
              .news-box__info
                p Read more
            h3.heading-tertiary Lorem, ipsum dolor.
            p.date 15 Jul 2018
            p.paragraph Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis accusantium ipsam blanditiis sequi? Libero inventore maiores nihil excepturi. Sint?
        .col
          .news-box
            .news-box__img-box
              img(src="../img/news-06.jpg").news-box__img
              .news-box__info
                p Read more
            h3.heading-tertiary Lorem ipsum dolor sit amet.
            p.date 07 Jul 2018
            p.paragraph Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit deleniti ea, asperiores beatae minus possimus alias reprehenderit qui molestias vel libero illum.
    
    section.section-schedule#section-schedule
      .u-center-text
        h2.heading-secondary Schedule

        .schedule-box
          .timetable
            .row.flex-grid
              .col
                .timetable__box
                  .timetable__heading.u-center-text
                    h3.heading-quaternary Monday
                  ul
                    li.timetable__cell 07.00 - 08.25 Yoga I John
                    li.timetable__cell 10.00 - 11.25 Air Yoga Amanda
                    li.timetable__cell 11.00 - 12.25 Yoga II Amanda
                    li.timetable__cell 15.30 - 16.55 Yoga 0/I Ben
                    li.timetable__cell 17.00 - 18.25 Yang&Yin Yoga Martha
                    li.timetable__cell 18.30 - 19.55 Yoga 0 Julia
                    li.timetable__cell 20.00 - 21.25 Yoga I Amanda

              .col
                .timetable__box
                  .timetable__heading.u-center-text
                    h3.heading-quaternary Tuseday
                  ul
                    li.timetable__cell 07.00 - 08.25 Yoga I Martha
                    li.timetable__cell 10.00 - 11.25 Yoga II John
                    li.timetable__cell 11.00 - 12.25 Yang Yoga Julia
                    li.timetable__cell 15.30 - 16.55 Yoga 0/I Amanda
                    li.timetable__cell 17.00 - 18.25 Yin Yoga Ben
                    li.timetable__cell 18.30 - 19.55 Yoga 0 Martha
                    li.timetable__cell 20.00 - 21.25 Yoga I Julia

              .col
                .timetable__box
                  .timetable__heading.u-center-text
                    h3.heading-quaternary Wednesday
                  ul
                    li.timetable__cell 07.00 - 08.25 Yoga II Martina
                    li.timetable__cell 10.00 - 11.25 Dance Yoga Silvia
                    li.timetable__cell 11.00 - 12.25 Yoga I Julia
                    li.timetable__cell 15.30 - 16.55 Yoga 0 Matt
                    li.timetable__cell 17.00 - 18.25 Ashtanga Ben
                    li.timetable__cell 18.30 - 19.55 Yoga 0 Martha
                    li.timetable__cell 20.00 - 21.25 Yoga I Julia

            .row.flex-grid      
              .col
                .timetable__box
                  .timetable__heading.u-center-text
                    h3.heading-quaternary Thursday
                  ul
                    li.timetable__cell 07.00 - 08.25 Yoga I John
                    li.timetable__cell 10.00 - 11.25 Air Yoga Amanda
                    li.timetable__cell 11.00 - 12.25 Yoga II Amanda
                    li.timetable__cell 15.30 - 16.55 Yoga 0/I Ben
                    li.timetable__cell 17.00 - 18.25 Yang&Yin Yoga Martha
                    li.timetable__cell 18.30 - 19.55 Yoga 0 Julia
                    li.timetable__cell 20.00 - 21.25 Yoga I Amanda

              .col
                .timetable__box
                  .timetable__heading.u-center-text
                    h3.heading-quaternary Friday
                  ul
                    li.timetable__cell 07.00 - 08.25 Yoga I Martha
                    li.timetable__cell 10.00 - 11.25 Yoga II John
                    li.timetable__cell 11.00 - 12.25 Yang Yoga Julia
                    li.timetable__cell 15.30 - 16.55 Yoga 0/I Amanda
                    li.timetable__cell 17.00 - 18.25 Yin Yoga Ben
                    li.timetable__cell 18.30 - 19.55 Yoga 0 Martha
                    li.timetable__cell 20.00 - 21.25 Yoga I Julia

              .col
                .timetable__box
                  .timetable__heading.u-center-text
                    h3.heading-quaternary Sunday
                  ul
                    li.timetable__cell 07.00 - 08.25 Yoga II Martina
                    li.timetable__cell 10.00 - 11.25 Dance Yoga Silvia
                    li.timetable__cell 11.00 - 12.25 Yoga I Julia
                    li.timetable__cell 15.30 - 16.55 Yoga 0 Matt
                    li.timetable__cell 17.00 - 18.25 Ashtanga Ben
                    li.timetable__cell 18.30 - 19.55 Yoga 0 Martha
                    li.timetable__cell 20.00 - 21.25 Yoga I Julia
    
    section.section-teachers#section-teachers
      .u-center-text
        h2.heading-secondary Teachers
        .row.flex-grid.teachers

          .col
            .card
              .card__side.card__side--front
                figure.teacher-box
                  img.teacher-box__photo(src="img/teacher-placeholder.png")
                  h3.heading-tertiary.teacher-box__name--front teacher.name.first teacher.name.last
              .card__side.card__side--back
                h3.heading-tertiary.teacher-box__name--back Teacher name 
                p.teacher-box__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, enim eius quis minus unde rem doloremque doloribus nemo tenetur beatae saepe fuga. Vero odio reiciendis, perferendis impedit libero porro necessitatibus eaque facilis maiores non rerum, sunt.

          .col
            .card
              .card__side.card__side--front
                figure.teacher-box
                  img.teacher-box__photo(src="img/teacher-placeholder.png")
                  h3.heading-tertiary.teacher-box__name--front teacher.name.first teacher.name.last
              .card__side.card__side--back
                h3.heading-tertiary.teacher-box__name--back Teacher name 
                p.teacher-box__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, enim eius quis minus unde rem doloremque doloribus nemo tenetur beatae saepe fuga. Vero odio reiciendis, perferendis impedit libero porro necessitatibus eaque facilis maiores non rerum, sunt.
                
          .col
            .card
              .card__side.card__side--front
                figure.teacher-box
                  img.teacher-box__photo(src="img/teacher-placeholder.png")
                  h3.heading-tertiary.teacher-box__name--front teacher.name.first teacher.name.last
              .card__side.card__side--back
                h3.heading-tertiary.teacher-box__name--back Teacher name 
                p.teacher-box__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, enim eius quis minus unde rem doloremque doloribus nemo tenetur beatae saepe fuga. Vero odio reiciendis, perferendis impedit libero porro necessitatibus eaque facilis maiores non rerum, sunt.
        
        .row.flex-grid.teachers

          .col
            .card
              .card__side.card__side--front
                figure.teacher-box
                  img.teacher-box__photo(src="img/teacher-placeholder.png")
                  h3.heading-tertiary.teacher-box__name--front teacher.name.first teacher.name.last
              .card__side.card__side--back
                h3.heading-tertiary.teacher-box__name--back Teacher name 
                p.teacher-box__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, enim eius quis minus unde rem doloremque doloribus nemo tenetur beatae saepe fuga. Vero odio reiciendis, perferendis impedit libero porro necessitatibus eaque facilis maiores non rerum, sunt.

          .col
            .card
              .card__side.card__side--front
                figure.teacher-box
                  img.teacher-box__photo(src="img/teacher-placeholder.png")
                  h3.heading-tertiary.teacher-box__name--front teacher.name.first teacher.name.last
              .card__side.card__side--back
                h3.heading-tertiary.teacher-box__name--back Teacher name 
                p.teacher-box__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, enim eius quis minus unde rem doloremque doloribus nemo tenetur beatae saepe fuga. Vero odio reiciendis, perferendis impedit libero porro necessitatibus eaque facilis maiores non rerum, sunt.

          .col
            .card
              .card__side.card__side--front
                figure.teacher-box
                  img.teacher-box__photo(src="img/teacher-placeholder.png")
                  h3.heading-tertiary.teacher-box__name--front teacher.name.first teacher.name.last
              .card__side.card__side--back
                h3.heading-tertiary.teacher-box__name--back Teacher name 
                p.teacher-box__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, enim eius quis minus unde rem doloremque doloribus nemo tenetur beatae saepe fuga. Vero odio reiciendis, perferendis impedit libero porro necessitatibus eaque facilis maiores non rerum, sunt.

    section.section-contact#section-contact
      .u-center-text
        h2.heading-secondary Contact

        .row
          .col
            .contact__form
              form(action="#").form

                .form__group
                  input(type="email" placeholder="Email address" required).form__input#email
                  label(for="email").form__label Email address

                .form__group
                  textarea( placeholder="Your message" required rows="5").form__input.form__input--textarea#message
                  label(for="message").form__label Your message

                .form__group
                  .form__submit-group

                    button(disabled).btn#privacy-btn Submit
                    
                    input(type="checkbox").form__checkbox#privacy-checkbox
                    label(for="privacy-checkbox").form__checkbox-label
                      span.form__checkbox-btn
                      | I agree to privacy policy

          .col
            .map-box
              img(src="../img/map.png", alt="map").map-box__img

  footer.footer

    .row
      
      .col
        .footer__navigation
          ul.footer__list
            li.footer__item 
              a(href="#").footer__link About Yoga Palace
            li.footer__item 
              a(href="#").footer__link Sign for a lesson
            li.footer__item 
              a(href="#").footer__link Become a teacher
            li.footer__item 
              a(href="#").footer__link Contact us
            li.footer__item 
              a(href="#").footer__link Terms
          a(href="https://pngtree.com/freepng/vector-hand-painted-brush-strokes_182407.html").footer__link.footer__link--dark Graphics from pngtree.com

      .col
        .footer__copyright 
          p.footer__paraghraph Build by 
            a(href="https://dominikmanowski.github.io" target="_blak").footer__link.footer__link--dark Dominik Manowski
            |&nbsp;&copy; . This site was made for educational purposes. Please do not hesitate to contact me if you have any suggestions regarding this site.
          ul.footer__list.footer__list--links
            li.footer__item
              a(href="https://www.linkedin.com/in/dominik-manowski/").footer__link LinkedIn
            li.footer__item
              a(href="https://github.com/dominikmanowski").footer__link Github
            li.footer__item
              a(href="https://dominikmanowski.github.io/").footer__link Portfolio
            li.footer__item
              a(href="https://twitter.com/mowinik").footer__link Twitter

    script(src="js/script.js")