*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 2.5rem; }

::selection {
  background-color: #aacfd0;
  color: #FFF; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  background-image: linear-gradient(-20deg, rgba(244, 247, 247, 0.85) 45%, rgba(170, 207, 208, 0.7) 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    letter-spacing: 5rem;
    margin-left: 5rem;
    margin-bottom: -4rem; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    margin-left: 5rem;
    letter-spacing: 3.5rem; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 600;
  color: rgba(26, 32, 29, 0.85);
  text-transform: uppercase;
  margin-bottom: 10rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  color: rgba(26, 32, 29, 0.85);
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.date {
  font-size: 1.2rem;
  font-weight: 500; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 3.5rem !important; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #1A201D;
  display: inline-block;
  padding: 1.5rem 4rem;
  background: rgba(244, 247, 247, 0.8);
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(1px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.news-box {
  position: relative; }
  .news-box::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    border-radius: 60%;
    background-color: rgba(26, 32, 29, 0.2);
    position: absolute;
    bottom: -1.6rem; }
  @media (min-width: 37.5em) {
    .news-box--left::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 1px;
      border-radius: 60%;
      background-color: rgba(26, 32, 29, 0.2);
      position: absolute;
      top: 5px;
      right: -2.6rem; } }
  .news-box__figure {
    position: relative; }
  .news-box__img-box {
    max-height: 100%; }
  .news-box__img {
    float: left;
    margin-top: .8rem;
    margin-right: 2rem;
    max-height: 12.5rem;
    border-radius: 2px; }
  .news-box__caption {
    position: absolute; }

.timetable__heading {
  background-color: #000;
  color: #1A201D !important; }

.timetable__box {
  background-color: rgba(0, 0, 0, 0.85);
  width: 30rem;
  margin: 0 auto; }

.timetable__cell {
  font-size: 1.7rem;
  list-style: none;
  color: #EBF3EF; }
  .timetable__cell:nth-child(odd) {
    background-color: rgba(56, 58, 63, 0.5); }
  .timetable__cell:not(:last-child) {
    border-bottom: 1px solid rgba(26, 32, 29, 0.7); }
  .timetable__cell:hover {
    font-weight: 500; }

.header {
  position: relative;
  min-height: 95vh;
  background-image: url(../img/header-background-small.jpg);
  background-size: cover;
  background-position: right; }
  .header__text-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 44%;
    left: 51%;
    background-image: url(../img/grunge-banner-set-2-6.png);
    opacity: .3; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2.5rem; }
  .row .col {
    flex: 1; }
    .row .col:not(:last-child) {
      margin-right: 5rem; }

@media (max-width: 37.5em) {
  .flex-grid {
    display: block; }
    .flex-grid .col {
      margin-right: 0 !important; }
      .flex-grid .col:not(:last-child) {
        margin-bottom: 2.5rem; } }

.section-news {
  background-color: #f4f7f7;
  padding: 10rem 2rem; }

.section-schedule {
  padding: 10rem 2rem; }
