*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  padding: 2.5rem; }

img {
  display: block; }

::selection {
  background-color: #aacfd0;
  color: #fefefe; }

body {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-size: 7rem;
  font-weight: 700;
  color: #f4f7f7;
  text-transform: uppercase;
  margin-bottom: 4rem; }
  .heading-primary--main {
    display: block;
    font-size: 9rem;
    letter-spacing: 5rem;
    margin-left: 5rem;
    margin-bottom: -4rem; }
  .heading-primary--sub {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    margin-left: 5rem;
    letter-spacing: 3.5rem; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.8);
  text-transform: uppercase;
  margin-bottom: 10rem;
  padding: 0 10rem;
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-position: center; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
  color: rgba(51, 51, 51, 0.85);
  text-transform: uppercase; }

.heading-quaternary {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(244, 247, 247, 0.85);
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }

.date {
  font-size: 1.2rem;
  font-weight: 500; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 3.5rem !important; }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 1.5rem 4rem;
  background: rgba(244, 247, 247, 0.8);
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(12, 12, 12, 0.12), 0 1px 2px rgba(12, 12, 12, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.btn:hover:not(:disabled) {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(1px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.btn:disabled {
  color: #999999; }

.card {
  height: 22rem;
  perspective: 150rem;
  position: relative; }
  .card__side {
    padding: 1.7rem 4rem;
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(12, 12, 12, 0.15);
    transition: all .4s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; }
    .card__side--front {
      height: 22rem; }
    .card__side--back {
      transform: rotateY(-180deg);
      height: 22rem; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.form {
  text-align: left; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__input {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 100%;
    transition: all .18s ease-in; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(12, 12, 12, 0.1);
      border-bottom: 3px solid #79a8a9; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #fa482e; }
    .form__input::-moz-focus-inner {
      border: 0;
      box-shadow: 0 1rem 2rem rgba(12, 12, 12, 0.1);
      border-bottom: 3px solid #79a8a9; }
  .form__label {
    display: block;
    font-size: 1.5rem;
    color: #999999;
    padding-left: 2rem;
    margin-top: 1rem;
    transition: all .2s ease-in; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5rem); }
  .form__checkbox {
    display: none; }
  .form__checkbox-label {
    font-size: 1.6rem;
    padding-left: 4.5rem;
    cursor: pointer;
    position: relative; }
  .form__checkbox-btn {
    display: inline-block;
    height: 2.3rem;
    width: 2.3rem;
    border: 3px solid #aacfd0;
    border-radius: 20%;
    position: absolute;
    left: 1.3rem;
    top: -5%;
    bottom: 0; }
    .form__checkbox-btn::before, .form__checkbox-btn::after {
      content: "";
      display: block;
      background-color: #aacfd0;
      border-radius: 30%;
      position: absolute;
      opacity: 0; }
    .form__checkbox-btn::before {
      height: .3rem;
      width: .55rem;
      transform: translate(0.25rem, 0.9rem) rotate(45deg); }
    .form__checkbox-btn::after {
      height: .3rem;
      width: 1.3rem;
      transform: translate(0.35rem, 0.68rem) rotate(-57deg); }
  .form__checkbox:checked + .form__checkbox-label .form__checkbox-btn::before,
  .form__checkbox:checked + .form__checkbox-label .form__checkbox-btn::after {
    opacity: 1; }

.news-box {
  position: relative; }
  .news-box::before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    border-radius: 60%;
    background-color: rgba(51, 51, 51, 0.2);
    position: absolute;
    bottom: -1.6rem; }
  @media (min-width: 37.5em) {
    .news-box--left::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 1px;
      border-radius: 60%;
      background-color: rgba(51, 51, 51, 0.2);
      position: absolute;
      top: 5px;
      right: -2.6rem; } }
  .news-box__img-box {
    position: relative;
    float: left;
    margin-top: .8rem;
    margin-right: 2rem;
    overflow: hidden; }
  .news-box__img {
    max-height: 12.5rem;
    border-radius: 2px; }
  .news-box__info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 12, 0.6);
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: all .3s ease-out; }
    .news-box__info p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fefefe;
      font-size: 1.5rem; }

.news-box:hover .news-box__info {
  transform: translateY(0%); }

.teacher-box {
  text-align: center; }
  .teacher-box__photo {
    margin: 1rem auto;
    margin-bottom: 1rem;
    border-radius: 3px; }
  .teacher-box__name--front {
    font-size: 2rem;
    text-transform: uppercase; }
  .teacher-box__description {
    font-size: 1.4rem; }

.timetable__heading {
  background-color: #000;
  color: #333; }

.timetable__box {
  background-color: rgba(0, 0, 0, 0.85);
  width: 30rem;
  margin: 0 auto;
  box-shadow: 0 1rem 2rem rgba(12, 12, 12, 0.2); }

.timetable__cell {
  font-size: 1.7rem;
  list-style: none;
  color: #EBF3EF; }
  .timetable__cell:nth-child(odd) {
    background-color: rgba(56, 58, 63, 0.5); }
  .timetable__cell:not(:last-child) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.7); }
  .timetable__cell:hover {
    font-weight: 500; }

.footer {
  background-color: #333;
  padding: 8rem 6rem 4rem;
  font-size: 1.5rem;
  color: #fefefe; }
  .footer__navigation, .footer__copyright {
    display: inline-block;
    padding-top: 1.5rem;
    border-top: 1px solid #f4f7f7; }
  .footer__list {
    list-style: none; }
    .footer__list--links {
      padding-top: 2rem; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__copyright {
    display: inline-block;
    width: 90%;
    float: right; }
  .footer__link {
    position: relative; }
    .footer__link:link, .footer__link:visited {
      display: inline-block;
      color: #f4f7f7;
      text-decoration: none; }
    .footer__link::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #f4f7f7;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s; }
    .footer__link:hover::after, .footer__link:active::after {
      visibility: visible;
      transform: scaleX(1); }
  .footer__link--dark:link, .footer__link--dark:visited {
    color: #aacfd0; }
  .footer__link--dark:after {
    background-color: #aacfd0; }

.header {
  position: relative;
  min-height: 95vh;
  background-image: url(../img/header-background-small.jpg);
  background-size: cover;
  background-position: right; }
  .header__text-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 43%;
    left: 51%;
    opacity: .3;
    filter: invert(1); }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  padding-bottom: 2.5rem; }
  .row .col {
    flex: 1; }
    .row .col:not(:last-child) {
      margin-right: 5rem; }

@media (max-width: 37.5em) {
  .flex-grid {
    display: block; }
    .flex-grid .col {
      margin-right: 0 !important; }
      .flex-grid .col:not(:last-child) {
        margin-bottom: 2.5rem; } }

.navigation {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  z-index: 1000;
  background-color: rgba(51, 51, 51, 0.6);
  transition: top 0.1s;
  transition: background-color 0.4s;
  box-shadow: 0 1.5rem 4rem rgba(12, 12, 12, 0.15); }
  .navigation__list {
    display: flex;
    list-style: none; }
  .navigation__item {
    padding: 1.5rem 2.5rem; }
  .navigation__link {
    font-size: 1.8rem;
    color: #f4f7f7;
    text-decoration: none;
    transition: all 0.1s ease-in; }
    .navigation__link--logo {
      font-weight: 700; }
    .navigation__link:hover {
      color: #79a8a9; }
  .navigation__toggle-btn {
    display: none; }

.active {
  color: #79a8a9; }

.to-top {
  position: fixed;
  top: 0;
  background-color: #333; }

.section-news {
  padding: 10rem 2rem;
  background-color: #f4f7f7; }

.section-schedule {
  padding: 10rem 2rem; }

.section-teachers {
  padding: 10rem 2rem;
  background-color: #f4f7f7; }

.section-contact {
  padding: 10rem 2rem; }

.contact__form {
  padding: 5rem 6rem;
  background-color: #f4f7f7;
  height: 100%; }

.contact__info-box {
  padding: 3rem 2rem;
  text-align: left; }

.contact__icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem; }
  .contact__icon--mail {
    background-image: url(../img/iconmonstr-email-11.svg); }
  .contact__icon--phone {
    background-image: url(../img/iconmonstr-phone-9.svg); }

.map-box {
  overflow: hidden;
  transition: all 1s ease; }
  .map-box__img {
    transition: all 1s ease; }
    .map-box__img:hover {
      transform: scale(1.5); }
