.timetable
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: center
  justify-content: space-evenly
  padding: 0 4rem

  &__heading
    background-color: #000
    color: $color-gray-dark

  &__box
    background-color: rgba(#000, .85)
    width: 30rem
    margin-bottom: 3rem
    box-shadow: 0 1rem 2rem rgba($color-black, .2)

  &__cell
    font-size: 1.7rem
    list-style: none
    color: $color-secondary-light

    &:nth-child(odd)
      background-color: rgba(#383A3F, .5)


    &:not(:last-child)
      border-bottom: 1px solid rgba($color-gray-dark, .7)

    &:hover
      font-weight: 500