.header
  position: relative
  min-height: 95vh
  background-image: linear-gradient(135deg, rgba($color-primary-light, 0.6) 10%, rgba($color-teriary-dark, .4) 100%), url(../img/header-background-small.jpg)
  background-size: cover
  background-position: top

  &__text-box
    +absolute-center
    text-align: center