.header
  position: relative
  min-height: 95vh
  background-image: url(../img/header-background-small.jpg)
  background-size: cover
  background-position: right

  &__text-box
    +absolute-center
    text-align: center